PyPDF2
meilisearch
reportlab
google-genai
pydantic
camelot-py
pandas
pdf2image
transformers
torch
pytesseract
openparse
huggingface_hub
fasttext
ninja
wheel
git+https://github.com/facebookresearch/detectron2.git
plumber
keras
tensorflow